body {
  /* The image used */
  background-image: url("star.jpg");
  /* Full height */
  height: 100%;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

img { width: 200px;}

 .elem {

	position: relative;
	bottom: 0;
	-webkit-transition: bottom 0.5s ease;
	-moz-transition: bottom 0.5s ease;
	-o-transition: bottom 0.5s ease;
	transition: bottom 0.5s ease;
       height: 200px;
       
}
.elem:hover {
	bottom: 28px;
      background-color: black;
}




.rocket {
    height: 0;
    top: 100px; /** this sets the start point from were the text move up **/
    overflow: hidden;
    transition: height 0.1s; /** sets the speed to how fast the background changes **/

}

.axis:hover .move-up {
     height: 10em; /** this sets the height of the text move-up and down space **/
    transform: translate(0,-110px); /** this sets how big you want the feild for this text to move up you have to change all 4  **/
    -webkit-transform: translate(0,-110px);
    -o-transform: translate(0,-110px);
    -moz-transform: translate(0,-110px);
    background-image: url("star.jpg");
  height: 100%;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #00ff00;
  font-weight: bold;
  font-style: italic;
  margin-top: 3%;
  margin: 5%;

}

.object {

    position: absolute;
    transition: all 0.5s ease-in-out; /** this is how fast the text move up **/
    -webkit-transition: all 0.5s ease-in-out; /** Chrome & Safari **/
    -moz-transition: all 0.5s ease-in-out; /** Firefox **/
    -o-transition: all 0.5s ease-in-out; /** Opera **/
}

.home { color: #00ff00; /** this changes the image color **/
        left: 35% /** this aligns the image in the center **/
      }

.gi-3x{
        font-size: 4em; /** this is to change the size of the image  **/
        position: relative;
        left: 45%;
        }

.block { top: 100px; position: relative;}

.lead { font-weight: bolder;}

.line {

}



.elem:hover {
    background-color: #e5e5e5;
    height: 300px;
}

.text_center {
    position: relative;
    text-align: center;
}

#pageLoadOne { background-color: #000; color: #00ff00; text-align: center;
border: 2px solid #00ff00; border-radius: 20px; margin-top: 5%;
}

 .progress-bar-striped {background-color: #00ff00; color: #00ff00;}

 #spacer { min-height: 50%;}

.panel-default {background-color: #000000 ;
border: #000000; color: #00ff00;
  -webkit-box-shadow: 3px 3px 5px 6px #000;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow:    3px 3px 5px 6px #000;  /* Firefox 3.5 - 3.6 */
  box-shadow:         3px 3px 5px 6px #000;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}


.lead {font-weight: bolder; }

#footer { background-color: #000; color: #00ff00; border: 2px solid #00ff00; border-radius: 20px; margin-top: 5%;
min-height: 100px;}

#headerSection {color: #00ff00; font-weight: bolder; font-family: cursive;}

#newPage { background-color: #00ff00; color: 000000; border: 2px solid silver; margin-top: 50%; padding: 2%;}

#signIn { color: #00ff00;}

#login {background-color: #00ff00; margin-top: 15%;  border: 2px solid silver; margin-top: 50%; padding: 2%;}

.onclick {color: red;}

#signAlign {align-content:flex-end;}